*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}





:root{
    --Alturapage: 80vh;
    --Largurapage: 70vw;
    --radius: 2rem;
}
body{
background:linear-gradient(135deg,#0b1f47 0%,#143d8a 60%,#1f66ff 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    
   
    

}

main{

    height: var(--Alturapage);
    width: var(--Largurapage);
    background-color: white;
    display: flex;
    border-radius: var(--radius);
    box-shadow: 0.1rem 0.3rem 1rem 0.3rem rgba(31, 30, 30, 0.575);
    
    

}

.Tela_esquerda{
    
    

    height: var(--Alturapage);
    width: calc(var(--Largurapage)/2);
    border-radius: var(--radius);
    
    border-radius: var(--radius) 0rem 0rem var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Area_esquerda{
    height: 90%;
    width: 90%;
    background-image: url("FotoCaixaEsquerda.jpg");
    background-size: contain;
    background-repeat: no-repeat;
   
}   

.Tela_direita{
     display: flex;
    
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
     height: var(--Alturapage);
    width: calc(var(--Largurapage)/2);
    background-color: #ffffff;
    
    border-radius: 0rem var(--radius) var(--radius) 0rem;
}
.Area_login{
   display: flex;
   align-items: center;
    flex-direction: column;
    gap: 6rem;
    height: 60vh;
    width: 25vw;
    background: linear-gradient(90deg, #1f66ff, #0c5baad7);
    backdrop-filter:blur(8px);
    padding-top: 3rem;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 1rem rgb(6, 44, 87);

}

.texto{
    
    font-size: 2rem;
    font-family:sans-serif;
    padding-bottom: 4rem;
}

.container_input{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.2rem;
    

}


.inputs_login {
    
    height: 2rem;
    display: flex;
    
    align-items: center;
    justify-content: center;
    column-gap: .75rem;
    border: none;
    outline: none;
    border-bottom: 1.2px solid white;
}


.inputs_login input{
    border: none;
    outline: none;
    background-color: transparent;
    width: 25rem;
    padding-bottom: 0.2rem;
    font-size: 1rem;
    color: black;
}

.inputs_login input::placeholder{
    color: black;

}

.icons{
    
    padding-bottom: 0.2rem;
}

.Botoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
background-color: none;
height: 3rem;
    width: 100%;
    
    
    

}
#Botao_Login{
    height: 2.5rem;
    width: 10rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgba(40, 86, 238, 0.527);
    border-radius: 1rem;
    border: none;
    cursor: pointer;
     
     display: flex;
}

#Botao_Cadastro{
    border: none;
    cursor: pointer;
    
    
    color: rgb(29, 28, 28);
    font-family:'Times New Roman', Times, serif;
    
}

#Botao_Cadastro:hover{
    color: rgb(255, 255, 255);
    transition: 0.1s;
}
#Botao_Login:hover{

    height: 2.7rem;
    width: 10.3rem;
    font-size: 1.1rem;
    border-radius: 1.1rem;
    transition: 0.4s;
    background-color: rgba(255, 255, 255, 0.904);
    
}
